$bg-primary: #111;
$bg-lighter: #333;
$text-primary: whitesmoke;
$accent: crimson;
$success: limegreen;
$neutral: gray;
$neutral-light: lightgray;
$primary: royalblue;

$font-primary: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
